html {
  height: 100vh;
}
body {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.menu_item {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
}
.menu_item li {
  list-style: none;
  padding: 5px 15px;
  font-size: 13px;
}
.menu_item li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu_punteado {
  height: 30px;
  width: 30px;
  padding: 2px;
}
.menu_punteado:hover {
  border-radius: 50%;
  background-color: rgb(200, 207, 213);
}

.picture_photo img {
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: solid 1px black;
  padding: 3px;
}
#img_content {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#img_content img {
  width: 20%;
}
.search_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.input_container {
  display: flex;
  justify-content: center;
  width: 40%;
  border-radius: 24px;
  padding: 10px;
  border: 0.5px solid gray;
}
.input_search {
  width: 80%;
  border: none;
  outline: none;
  height: 100%;
}
.input_container:hover {
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.establish_position {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#lupa_icon {
  width: 25px;
  height: 25px;
  padding-left: 10px;
  position: absolute;
  left: -550px;
  top: 10px;
}
.establish_positionLens {
  display: flex;
  justify-content: center;
}

.icon_lensandMic #img_mic {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -80px;
  top: 10px;
}
.icon_lensandMic #img_mic:hover {
  cursor: pointer;
}
.img_mic_icon_google #img_lens {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -35px;
  top: 15px;
}
.img_mic_icon_google #img_lens:hover {
  cursor: pointer;
}
.button_container {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}
.button_style {
  margin-top: 40px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 4px;
  border-radius: 4px;
  background-color: #f8f9fa;
  cursor: pointer;
}
.button_style:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}
.info_google {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.style_parrafo {
  padding: 10px;
}
.style_parrafo a {
  text-decoration: none;
  color: #1a0dab;
}
.style_parrafo a:hover {
  text-decoration: underline;
}
footer {
  background-color: #f2f2f2;
  width: 100%;
  margin-top: auto;
  height: auto;
}
.name_country {
  padding: 10px;
  font-size: 15px;
  color: black;
  border-bottom: 1px solid gainsboro;
}

.footer_pie {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.container_footer_left {
  display: flex;
  list-style: none;
}
.container_footer_right li {
  padding-right: 30px;
}

.container_footer_right li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.container_footer_right {
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 5px;
}
.container_footer_left li {
  padding-right: 10px;
  padding-left: 5px;
}
.container_footer_left li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.styleNameCountry {
  padding-left: 20px;
}
